.list-group-item {
  padding: 12px 18px;
  font-weight: 500;
}

.list-group-item.active {
  background-color: #0d6efd;
  color: white;
  border-left: 4px solid #084298;
}

.list-group-item.active:hover {
  background-color: #0b5ed7;
}
