.list-group-item {
  border: none;
  border-radius: 0;
}

.list-group-item.active {
  background-color: #0d6efd;
  color: #fff;
  font-weight: 500;
}

.list-group-item.active:hover {
  background-color: #0b5ed7;
}
